@model IEnumerable<DuAnWebsite.Models.DONGHO>
@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .absoluteBox {
            display: flex;
            height: 100%;
            position: absolute;
            max-width: 25vw;
            align-items: center;
            top: 0px;
            justify-content: center;
            left: 50px;
            color: white
        }
        .subtitle {
            font-size: 24px;
            line-height: 26px;
            color: white !important;
            text-transform: uppercase;
            width: 260px;
        }
        .abb {
            display: block;
        }
        .up-blog {
            padding: 70px 0;

        }
            .up-blog h2 {
                font-size: 30px;
                font-weight: 500;
                text-align: center;
            }
    </style>
</head>
<body>
    <div tabindex="-1" style="" data-title="" class="video-js vjs-big-play-centered vjs-default-skin video_acces GTMplayVideo vjs-fluid background_video_1_1-dimensions vjs-controls-disabled vjs-workinghover vjs-v6 vjs-playing vjs-has-started vjs-user-inactive" preload="none" videotitle="" id="background_video_1_1" lang="en" role="region" aria-label="Video Player">
        <video id="background_video_1_1_html5_api" videotitle="" preload="" class="vjs-tech" data-title="" style="" tabindex="-1" playsinline="" muted="" loop="" autoplay="" jm_neat="1906412545">
            <source type="video/mp4" src="https://static.patek.com/videos/home/PP_5470P_001_1920_770.mp4" label="PP_5470P_001_BannerHome_desktop" res="5470001">
        </video>
    </div>
    <div class="absoluteBox">
        <a class="GTMgotoPage" data-format="banner" href="#" dir="ltr">
            <div class="btn_home_with_title GTMgotoPage" data-format="banner">
                <div class="subtitle GTMgotoPage" data-format="banner">
                    1/10th of a second monopusher chronograph Ref. 5470P-001
                </div>
            </div>
            <div>
                <button class="abb btn-cart welcome-add-cart welcome-more-info animated fadeInDown" onclick="window.location.href='#'" style="opacity: 0;">
                    Discover
                </button>
            </div>
        </a>

    </div>

    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!--/.carousel-indicator -->
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
            <li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
            <li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
        </ol><!-- /ol-->
        <!--/.carousel-indicator -->
        <!--/.carousel-inner -->
        <div class="carousel-inner" role="listbox">
            <!-- .item -->
            <div class="item active">
                <div class="single-slide-item slide1">
                    <div class="container">
                        <div class="welcome-hero-content">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-txt">
                                            <h4>great design collection</h4>
                                            <h2>ASTRONOMIA SKY PLATINUM DRAGON</h2>
                                            <p>
                                                Nằm trong bộ sưu tập Astronomia, cỗ máy thời gian Jacob&Co Astronomia Sky Dragon đem đến một cách tiếp cận tạo bạo hơn, ấn tượng hơn với cỗ máy Jacob&Co này nằm ở bên trong bộ vỏ khung bằng Back gold.
                                            </p>
                                            <div class="packages-price">
                                                <p>
                                                    18.104.000.000 đ
                                                    <del>24.138.000.000 đ</del>
                                                </p>
                                            </div>
                                            <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                                                <span class="lnr lnr-plus-circle"></span>
                                                add <span>to</span> cart
                                            </button>
                                            <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                                                more info
                                            </button>
                                        </div><!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                                <div class="col-sm-5">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-img">
                                            <img src="~/assets/images/slider/astronomia-sky-platinum-dragon.png" alt="slider image" style="height: 500px">
                                        </div><!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                            </div><!--/.row-->
                        </div><!--/.welcome-hero-content-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->

            </div><!-- /.item .active-->

            <div class="item">
                <div class="single-slide-item slide2">
                    <div class="container">
                        <div class="welcome-hero-content">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-txt">
                                            <h4>great design collection</h4>
                                            <h2>ASTRONOMIA SOLAR ZODIAC</h2>
                                            <p>
                                                Nằm trong bộ sưu tập Astronomia, cỗ máy thời gian Astronomia Solar Zodiac với chủ đề vũ trụ quen thuộc đem đến một cách tiếp cận tạo bạo hơn, ấn tượng hơn với cỗ máy Astronomia.
                                            </p>
                                            <div class="packages-price">
                                                <p>
                                                    7.676.000.000 đ
                                                    <del>5.757.000.000 đ</del>
                                                </p>
                                            </div>
                                            <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                                                <span class="lnr lnr-plus-circle"></span>
                                                add <span>to</span> cart
                                            </button>
                                            <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                                                more info
                                            </button>
                                        </div><!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                                <div class="col-sm-5">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-img">
                                            <img src="~/assets/images/slider/26-jacob-co-astronomia-zodiac-at100-40-ac-ab-b.png" alt="slider image" style="height: 500px">
                                        </div><!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                            </div><!--/.row-->
                        </div><!--/.welcome-hero-content-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->

            </div><!-- /.item .active-->

            <div class="item">
                <div class="single-slide-item slide3">
                    <div class="container">
                        <div class="welcome-hero-content">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-txt">
                                            <h4>great design collection</h4>
                                            <h2>ASTRONOMIA SOLAR JEWELLERY </h2>
                                            <p>
                                                Tại Baselworld năm 2019, Patek Philippe. đã trình làng hai mẫu đồng hồ điểm chuông vô cùng phức tạp. Đầu tiên là mẫu Twin Turbo Furious sở hữu hệ thống điểm chuông mỗi 10 phút, với hai lồng Tourbillons 3 trục và Chronograph Monopusher, còn mẫu thứ hai là Maestro Astronomia. Mặc dù cả hai chiếc đồng hồ này đều đáng kinh ngạc và ấn tượng.
                                            </p>
                                            <div class="packages-price">
                                                <p>
                                                    14.120.000.000 đ
                                                    <del>18.827.000.000 đ</del>
                                                </p>
                                            </div>
                                            <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                                                <span class="lnr lnr-plus-circle"></span>
                                                add <span>to</span> cart
                                            </button>
                                            <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                                                more info
                                            </button>
                                        </div><!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                                <div class="col-sm-5">
                                    <div class="single-welcome-hero">
                                        <div class="welcome-hero-img">
                                            <img src="~/assets/images/slider/jacob-co-astronomia-maestro-am500-40-ac-sd-b.png" alt="slider image">
                                        </div><!--/.welcome-hero-txt-->
                                    </div><!--/.single-welcome-hero-->
                                </div><!--/.col-->
                            </div><!--/.row-->
                        </div><!--/.welcome-hero-content-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->

            </div><!-- /.item .active-->
        </div><!-- /.carousel-inner-->

    </div><!--/#header-carousel-->
    <!--/#header-carousel-->
    <section id="populer-products" class="populer-products">
        <div class="container">
            <div class="populer-products-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-populer-products">
                            <div class="single-populer-product">
                                <img src="~/assets/images/populer-products/Nav_RS_PP_Salons.jpg" alt="populer-products images">
                            </div>
                            <h2><a href="#">THE PATEK PHILIPPE SALONS</a></h2>
                            <div class="single-populer-products-para">
                                <p>In three world cities, Patek Philippe has chosen to open graceful and inviting showrooms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-populer-products">
                            <div class="single-populer-product">
                                <img src="~/assets/images/populer-products/Nav_RS_AuthorizedRetailers_2.jpg" alt="populer-products images">
                            </div>
                            <h2><a href="#">AUTHORIZED RETAILERS</a></h2>
                            <div class="single-populer-products-para">
                                <p>Find your Patek Philippe authorized retailer or official showroom near Viet Nam with our store.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="single-populer-products">
                            <div class="single-populer-products">
                                <div class="single-populer-product-img">
                                    <img src="~/assets/images/populer-products/Nav_RS_Distributors_3.jpg" alt="populer-products images">
                                </div>
                                <h2><a href="#">DISTRIBUTORS</a></h2>
                                <div class="single-populer-products-para">
                                    <p>
                                        We have Patek Philippe distributors across the world.

                                        Locate your nearest distributor using our.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->

    </section>
    <section id="new-arrivals" class="new-arrivals">
        <div class="container">
            <div class="section-header">
                <h2>new arrivals</h2>
            </div><!--/.section-header-->
            <div class="new-arrivals-content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                    <div class="col-md-3 col-sm-4">
                        <div class="single-new-arrival">
                            <div class="single-new-arrival-bg">
                                <img src="~/assets/images/collection/@item.HINHANH" alt="new-arrivals images">
                                <div class="single-new-arrival-bg-overlay"></div>
                                <div class="sale bg-1">
                                    <p>sale</p>
                                </div>
                                <div class="new-arrival-cart">
                                    <p>
                                        <span class="lnr lnr-cart"></span>
                                        <a href="#">add <span>to </span> cart</a>
                                    </p>
                                    <p class="arrival-review pull-right">
                                        <span class="lnr lnr-heart"></span>
                                        <span class="lnr lnr-frame-expand"></span>
                                    </p>
                                </div>
                            </div>
                            <h4><a href="#">@item.TENDH</a></h4>
                            <p class="arrival-product-price">@item.DONGIA VNĐ</p>
                        </div>
                    </div>

                    }
                   
                </div>
            </div>
        </div><!--/.container-->

    </section>

    <section id="feature">
        <div class="container">
            <div class="section-header">
                <h2>featured products</h2>
            </div><!--/.section-header-->
            <div class="feature-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-feature">
                            <img src="~/assets/images/features/01_500 (1).jpg" alt="feature image">
                            <div class="single-feature-txt text-center">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                                    <span class="feature-review">(45 review)</span>
                                </p>
                                <h3><a href="#">Marquetry</a></h3>
                                <h5>$160.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-feature">
                            <img src="~/assets/images/features/01_500.jpg" alt="feature image">
                            <div class="single-feature-txt text-center">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                                    <span class="feature-review">(45 review)</span>
                                </p>
                                <h3><a href="#">Guilloché</a></h3>
                                <h5>$200.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-feature">
                            <img src="~/assets/images/features/02_500.jpg" alt="feature image">
                            <div class="single-feature-txt text-center">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                                    <span class="feature-review">(45 review)</span>
                                </p>
                                <h3><a href="#">Enamel</a></h3>
                                <h5>$100.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-feature">
                            <img src="~/assets/images/features/01_500 (2).jpg" alt="feature image">
                            <div class="single-feature-txt text-center">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                                    <span class="feature-review">(45 review)</span>
                                </p>
                                <h3><a href="#">Engraving</a></h3>
                                <h5>$299.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->

    </section>
        <div class="up-blog"><h2>Partner</h2></div>
        <!-- clients strat -->
        <section id="clients" class="clients">

            <div class="container">
                <div class="owl-carousel owl-theme" id="client">
                    <div class="item">
                        <a href="https://www.rolex.com/vi">
                            <img src="~/assets/images/clients/744px-Rolex_logo.svg.png" alt="brand-image" style="width: 150px; height: 100px" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="https://www.omegawatches.com/">
                            <img src="~/assets/images/clients/1280px-Omega_Logo.svg.png" alt="brand-image" style="width: 150px; height: 100px" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="https://www.tagheuer.com/vn/en/">
                            <img src="~/assets/images/clients/1200px-TAG_Heuer_Logo.svg.png" alt="brand-image" style="width: 150px; height: 100px" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="https://www.longines.com/">
                            <img src="~/assets/images/clients/5d808afba8e8dbf6cd0a90a2.png" alt="brand-image" style="width: 150px; height: 100px" />
                        </a>
                    </div><!--/.item-->
                    <div class="item">
                        <a href="https://www.tissotwatches.com/">
                            <img src="~/assets/images/clients/Tissot_Logo.svg.png" alt="brand-image" style="width: 150px; height: 100px" />
                        </a>
                    </div><!--/.item-->
                </div><!--/.owl-carousel-->

            </div><!--/.container-->

        </section><!--/.clients-->
        <!-- clients end -->
</body>